<!-- Aim Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Aim</h2>
                    <h3 class="section-subheading text-muted">{{site.title}} is a skill development program in embedded systems for women, with a focus on free hardware and software.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Understand fundamentals</h4>
                    <p class="text-muted">Does a LED always glow when you drive a signal high? What's stored in Flash and RAM? By strengthening your fundamentals you can answer these and many such questions.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Develop skill set</h4>
                    <p class="text-muted">Learn skills relevant for an embedded systems developer. Including peripheral interfacing, compiling & linking, debugging, circuit development, sensor/actuator interfacing and much more. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Enhance your portfolio</h4>
                    <p class="text-muted">Add another project to your portfolio, this time a complete embedded project. Let it shine in your CV and interviews. Make a video of it working, explain it in a blog and use it to reach out to the community.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Give your ideas wings</h4>
                    <p class="text-muted">The ability to make things made of plastic and silicon do your bidding can give quite a rush. Get to know and share the satisfaction of making an idea in your head work in the physical world.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-peace-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Build confidence</h4>
                    <p class="text-muted">Be it your next freelancing task or a project for a competition, you know you are up for the challenge. You can prove your worth when companies are looking for competent embedded engineers.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Get connected</h4>
                    <p class="text-muted">As the classes will be held in different locations, the participants can connect and interact with the start-ups, industries and makers.</p>
                </div>
            </div>
        </div>
    </section>
