<!-- Aim Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Aim</h2>
                    <h3 class="section-subheading text-muted">{{site.title}} is a skill development program in embedded systems for women.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Understand fundamentals</h4>
                    <p class="text-muted">Does a LED always glow when you drive a signal high? What's stored in Flash and RAM? Strengthen your fundamentals to take these in your stride.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Develop skill set</h4>
                    <p class="text-muted">Learn skills relevant for an embedded systems developer. Including peripheral interfacing, compiling & linking, debugging, circuit development, sensor/actuator interfacing and many more. </p>
                </div>                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Enhance your portfolio</h4>
                    <p class="text-muted">Add another project to your portfolio, this time a complete embedded project. Let it shine in your CV and interviews. Make a video of it working, explain it in a blog and let it reach out to the community.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Get inspired</h4>
                    <p class="text-muted">The ability to make things made of plastic and silicon do your bidding can give quite a rush. Get to know and share the satisfaction of making an idea in your head work in the physical world.</p>
                </div>                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-peace-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Build confidence</h4>
                    <p class="text-muted">Be it your next freelancing task or a project for a competition, you know you are up for the challenge. You can prove your worth when companies are looking for competent embedded engineers.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Connect to start-up ecosystem</h4>
                    <p class="text-muted">On the final session get the chance to connect and impress the start-up community in Bangalore in the embedded systems space.</p>
                </div>
            </div>
        </div>
    </section>