<!-- Coming Up Section -->
<section id="comingup">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">This program is now over!</h2>
                <div class="sub-line">The first iteration of this program was <a href="https://discuss.fsmk.org/t/summarizing-the-embedded-for-her-activities-so-far/998">successfully completed</a> with the execution of an <a href="https://discuss.fsmk.org/t/open-day-on-the-conclusion-of-embeddedforher/974">open day</a>. However, the EfH community is still strong!<br>We have regular <a href="https://discuss.fsmk.org/search?q=meet%20up%20category%3A21">meetups</a> and are always open to new members. You can join the conversation on our <a href="https://discuss.fsmk.org/c/embeddedforher">discourse forum</a> or <a href="mailto:embeddedforher@fsmk.org">drop us an email</a>. We look forward to hearing from you!</div>
            </div>
        </div>
      </div>
    </section>
