    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading">Curious about any of this? Just mail us.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <h3 class="service-heading">Sharwari Kulkarni</h3>
                    <a href="mailto:sharwari@workbenchprojects.com"><h4 class="service-heading"><h4 class="service-heading">sharwari@workbenchprojects.com</h4></a>
                </div>
                <div class="col-md-6">
                    <h3 class="service-heading">PrithviRaj Narendra</h3>
                    <a href="mailto:p@earthlord.io"><h4 class="service-heading">p@earthlord.io</h4></a>
                </div>
            </div>
        </div>
    </section>