<!-- Get Involved Section -->
<section id="getinvolved">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Get Involved</h2>
                <div class="sub-line">There are many ways that we can fit you on board. You could take a session on a particularly fascinating topic. You could help someone understand concepts just as you build your own. Or maybe you could sponsor someone who deserves to be a part of this but can't afford to.</div>
                <div class="register-btn">
                    <a class="btn btn-xl" role="button" href="{{site.baseurl}}speaker">Help out</a>
                </div>
            </div>
        </div>
      </div>
    </section>
