<!-- Program Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary program-circle"></i>
                        <div class="program-w">What?</div>
                    </span>
                    <h4 class="service-heading">10-week intensive course</h4>
                    <p class="text-muted">{{site.title}} is an intensive 80-hour program in embedded systems with emphasis on learning practical hands-on skills. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary program-circle"></i>
                        <div class="program-w">How?</div>
                    </span>
                    <h4 class="service-heading">Theory, practicals & projects</h4>
                    <p class="text-muted">The 1st half of the program contains lectures intertwined with hands-on tasks. As we believe in learning by doing, the 2nd half consists of a team-based project work. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary program-circle"></i>
                        <div class="program-w">Who?</div>
                    </span>
                    <h4 class="service-heading">Women</h4>
                <p class="text-muted">Women who have a basic background in either computer science or electronics. If you've dabbled in coding you can apply.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary program-circle"></i>
                        <div class="program-w">When?</div>
                    </span>
                    <h4 class="service-heading">Saturdays</h4>
                    <p class="text-muted">Every Saturday from 10th June to 12th Aug. The whole day from 10:00 to 18:00.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary program-circle"></i>
                        <div class="program-w">Cost?</div>
                    </span>
                    <h4 class="service-heading">Rs. 5000/-</h4>
                    <p class="text-muted">The program fee is solely for the hardware provided to the participants, which includes a development board, soldering-gun, multimeter and much more.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary program-circle"></i>
                        <div class="program-w">Where?</div>
                    </span>
                    <h4 class="service-heading">Across Bengaluru</h4>
                    <p class="text-muted">Sessions will be held all over Bengaluru in various start-ups, makerspaces and community centres.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-muted">Only 12 participants!</h3>
            </div>
        </div>
    </section>
