<!-- Program Section -->
    <section id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Program</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary program-circle"></i>
                        <div class="program-w">What?</div>
                    </span>
                    <h4 class="service-heading">10 week intensive course</h4>
                    <p class="text-muted">{{site.title}} is an intensive 70 hour program in embedded systems with emphasis on learning practical hands-on skills. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary program-circle"></i>
                        <div class="program-w">How?</div>
                    </span>
                    <h4 class="service-heading">Theory, practicals & projects</h4>
                    <p class="text-muted">This program contains lectures, hands-on tasks and a team project work. Development boards, measurement and development equipment will be provided.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary program-circle"></i>
                        <div class="program-w">Who?</div>
                    </span>
                    <h4 class="service-heading">Women in engineering</h4>
                    <p class="text-muted">Women who have a basic background in either computer science or electronics since this is not a course from scratch.</p>
                </div>
            </div>
        </div>
        <div class="container get-involved">
                <a href="#register" class="page-scroll btn btn-xl";>Get involved</a>
        </div>
    </section>