<!-- About Section -->
    <section id="about"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted">Embedded for Her will be held on Saturdays for 10 weeks from 10th June to 12th Aug 2017.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/apply.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Till 15th May</h4>
                                    <h4 class="subheading">Application period</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Registrations for this program will be open untill 15th May 2017. Sign up at the <a href="#register" class="page-scroll">registration section</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/course.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 1-5</h4>
                                    <h4 class="subheading">Coursework</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The coursework will start off with a hands-on session learning the basic components that make up a typical circuit. After that would be learning bare metal embedded coding, peripheral interfacing including GPIOs, timers and serial communication protocols. Hands-on tasks will be included for every topic.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/team3.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 5</h4>
                                    <h4 class="subheading">Project initiation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Teams of 3 need to be formed and a project needs to be decided by each team. This is the project that the team would work on, right from deciding the end goal, choosing the technology to use and the actual implementation and testing.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/collaborate.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 6-9</h4>
                                    <h4 class="subheading">Project work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Work with mentors to decide your project's roadmap, understand what to learn and debug the problem that's keeping you awake.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/woman-running2.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 10</h4>
                                    <h4 class="subheading">Final sprint</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The last weekend will be a two-day event where we'll give the final touches to the project for the show & tell event. Impress all the attendees that come to this event.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be a part
                                    <br>of this
                                    <br>journey!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
