<!-- About Section -->
    <section id="about"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted">Embedded for Her will be held on Saturdays for 10 weeks from June to Aug 2016.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/apply.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{Start Date}</h4>
                                    <h4 class="subheading">Application period</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Registrations for this program will open up in June 2016. Sign up using <a href="http://goo.gl/forms/mA8mTGVktw">this form</a> and we'll let you know when it opens.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/course.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 1-4, 6-8</h4>
                                    <h4 class="subheading">Course work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The course work will start off with a hands-on session with Arduino to build a simple application. After that would be the learning bare metal embedded coding, peripheral interfacing including GPIOs, timers and serial communication protocols. Hands-on tasks will be included for every topic.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/evaluation.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 5</h4>
                                    <h4 class="subheading">Course mid evaluation <br>& Project initiation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">An evaluation will be conducted to assess the progress of this pilot program, get feedback and make necessary correction. Participants will get feedback on their progress.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/collaborate.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 6-9</h4>
                                    <h4 class="subheading">Project work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The last weekend will be a two day event where we'll give the final touches to the project for the show & tell event. This event will be attended by start-ups in the embedded space whom you can impress.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/woman-running2.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 10</h4>
                                    <h4 class="subheading">Final sprint</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The last weekend will be a two day event where we'll give the final touches to the project for the show & tell event. This event will be attended by start-ups in the embedded space whom you can impress.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be a part
                                    <br>of this
                                    <br>journey!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
