<!-- Schedule Section -->
    <section id="schedule"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <div class="sub-line">Embedded for Her was on 10 consecutive Saturdays from 10th June to 12th Aug 2017.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/apply.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>15th May</h4>
                                    <h4 class="subheading">Application period</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Registrations for this program closed on 15th May 2017.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/course.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 1-5</h4>
                                    <h4 class="subheading">Coursework</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The coursework started off with a hands-on session learning the basic components that make up a typical circuit. After that bare metal embedded coding, peripheral interfacing including GPIOs, timers and serial communication protocols was taught. Hands-on tasks were included for every topic.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/team3.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 5</h4>
                                    <h4 class="subheading">Project initiation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Teams of 4 were formed and a project was decided by each team. This is the project that the team worked on, right from deciding the end goal, choosing the technology to use and the actual implementation and testing.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/collaborate.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 6-9</h4>
                                    <h4 class="subheading">Project work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Participants worked with mentors to decide their project's roadmap, understand what to learn and to debug the problem that was keeping them awake.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/woman-running2.svg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Week 10</h4>
                                    <h4 class="subheading">Final sprint</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The last weekend was a two-day event where the final touches were given to the project for the show & tell event. Attendees to this event were quite impressed.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <a href="https://discuss.fsmk.org/c/embeddedforher">
                            <div class="timeline-image">
                                <h4>Be a part
                                    <br>of this
                                    <br>journey!</h4>
                            </div>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
